# General
.env

# Editors
.vscode/

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
pip-wheel-metadata/
.installed.cfg
*.egg
.mypy_cache/

# Backups
*.bak*
